body {
  font-family: "Times New Roman", Times, serif;
  font-size: 34px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: white;
  font-weight: 700;
  text-decoration: overline solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 1;
}

.h1 {
  text-align: center;
}

.jumbotron {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(245, 195, 14, 0.765625) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

textarea {
  background: transparent;
  height: 101%;
  width: 101%;
  border: none;
  resize: none;
  color: rgb(165, 115, 115);
  border-left: 1px solid black;
  padding: 2px;
}

.info {
  white-space: pre-line;
}

.row {
  white-space: pre-line;
  height: 80px;
  border-top: 1px solid white;
}

.col-md-8 {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  text-align: center flex;
}

.saveButton {
  border-style: solid;
  border-left: 1px solid #06aed5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  height: 100%;
  width: 100%;
}

.saveButton i:hover {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  font-size: 50px;
  transition: all 0.3s ease-in;
}

.past {
  background-color: #5e5a5a86;
  color: white;
}

.current {
  background-color: #dd5048;
  color: white;
}

.future {
  background-color: #39f739;
  color: white;
}

.container {
  padding-left: 0;
  padding-right: 0;
}
